$green: #00FF00;
$almostblack: #161616;
$teal: #1f6764;
$green: #92b35a;
$yellow: #e7c049;
$pink: #c94d65;
$grey: #f2f2f2;

$font-h: 'Baumans';
$font-b: 'News Cycle', san-serif;

body {
    background-color:$grey; color:$almostblack; font-family: $font-b;
}



.green {
  background-color: $green;
  font-weight:bold;
}

