doctype html
html(lang="en")
  head
    title= pageTitle
    link(
        rel='stylesheet',
        href='http://fonts.googleapis.com/css?family=News+Cycle:400,700|Baumans'
    )
    style
      include ../css/main.css

    script(src='../js/libs/require.js', data-main='../js/require-config.js')




  body
    div(ng-app )#main
        div.first-controller(ng-controller='LablyMain' )
          button(ng-click="sayHello()") {{whatever}}
        div.second-controller(ng-controller='LisasAwesomeController')
            div#my-cool-phrase {{myThing}}

    div.green

       | hello  how are you?

