@import "imports.scss";
@import "colors.scss";
@import "mixins/transformations.scss";

@mixin cleanup {
  margin:0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; line-height:1em;
}
s
@mixin clear {
    clear:both;
}

@mixin expand {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: auto;
}

html, body {
    @include cleanup();
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'News Cycle', sans-serif;
  background-color: $white;
}

$gridsize: 100px;
$navwidth: $gridsize*2;
$squaresize: $gridsize/4;

#application-main {
  @include expand;
  overflow: hidden;
}

.upload-file {
      @include cleanup();
  border: 3px dashed $grey;
  position: absolute;
  top: $squaresize*2;
  right: $squaresize*2;
  bottom: $squaresize*2;
  left: $squaresize*2;
    padding:$squaresize;
}

.workspace {
  @include gridify($white, $greenish, $gridsize, 1px);
  @include expand;
  top: $navwidth/2;
  left: $navwidth;
}

header {
@include cleanup();
    height: $navwidth/2;
  left: $navwidth;
  position: absolute;
  padding: 10px 20px;
  h1 {
    font-size: 50pt;
    line-height: 1em;
    font-weight: normal;
    display: inline-block;
    font-family: Baumans;
    @include cleanup();
    .dot {      color: $green;    }  }
  #tagline {    font-weight: bold;  }
}

nav#leftnav {
    @include cleanup()
  position: fixed;
  left: 0px;
  width: $navwidth;
  background: $black url('../../images/blocks.png') top left no-repeat;
  color: $white;
  height: 100%;
  padding: $navwidth+5px 10px 10px;

  ul {
      @include cleanup();
    list-style-type: none;
  }
  a {
    color: $white !important;
    text-decoration: none;
  }
}

.widget { @include cleanup(); 
    padding:$squaresize/4; background-color:$white; -webkit-box-shadow: 0 0 $squaresize/4 0 $black; box-shadow: 0 0 $squaresize/4 0 $black; margin:$squaresize;
    .widget-header {
        h2 { font-family: 'Baumans'; font-size:25pt; font-weight:normal; margin-top:0; margin-bottom:$squaresize;width:80%; float:left;}
        nav {
            min-width:150px; width:20%; float:right;
            .graph {
                a { color:$yellow;}
            }
            .save {
                a { color:$teal; }
            }
            .trash {
                a { color:$pink; }
            }
        }
        &:after {include clear();}
    }
}
