@import "imports.scss";
@import "colors";
@import "mixins/transformations.scss";

@mixin cleanup {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1em;
}

@mixin expand {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: auto;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'News Cycle', sans-serif;
  background-color: $white;
  @include cleanup();
}

$gridsize: 100px;
$navwidth: $gridsize*2;

#application-main {
  @include expand;
  overflow: hidden;
}

.upload-file {
  border: 3px dashed #929292;
  position: absolute;
  top: $gridsize/2;
  right: $gridsize/2;
  bottom: $gridsize/2;
  left: $gridsize/2;
  @include cleanup();
}

.workspace {
  @include gridify($white, $greenish, $gridsize, 1px);
  @include expand;
  top: $navwidth/2;
  left: $navwidth;
}

header {
  height: $navwidth/2;
  left: $navwidth;
  position: absolute;
  padding: 10px 20px;
  @include cleanup();

  h1 {
    font-size: 50pt;
    line-height: 1em;
    font-weight: normal;
    display: inline-block;
    font-family: Baumans;
    @include cleanup;

    .dot {
      color: $green;
    }
  }

  #tagline {
    font-weight: bold;
  }
}

nav#leftnav {
  position: fixed;
  left: 0px;
  width: $navwidth;
  background: $black url('../../images/blocks.png') top left no-repeat;
  color: $white;
  height: 100%;
  padding: $navwidth+5px 10px 10px;
  @include cleanup();

  ul {
    list-style-type: none;
    @include cleanup();
  }
  a {
    color: $white !important;
    text-decoration: none;
  }
}

.widget {
  @include cleanup();
  padding: 20px;
  background-color: $white;
  -webkit-box-shadow: 0 0 20px 0 $black;
  box-shadow: 0 0 20px 0 $black;
  h2 {
    font-family: 'Baumans';
  }
}
